
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .text {            
                width: 300px;
                height: 1000px;
                background-color: #f0f0f0;
                padding: 20px; /* Adding padding */
                border: 2px solid #333; /* Adding a border */
                margin: 20px; /* Adding margin for spacing */
        }
    
        .container{
            display: flex; /* Use Flexbox to arrange elements in a row */
            justify-content: center; /* Center align the content horizontally */
            align-items: flex-start; /* Align items to the top vertically */
        }

        .photo {
            width: 300px;
            margin: 20px; /* Add margin to separate text and photo */
        }
        
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
        a:hover {
            color: #131414; /* Color when hovered over */
        }
        #Game{
            color: rgb(234, 17, 17);
        }
